body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto 30%;
    font-family: 'Montserrat';
}

*, *:before, *:after {
    box-sizing: border-box;
}

.line {
    position: absolute;
}

main {
    margin-left: 20%;
    height: 100vh;
    display: grid;
    place-content: center;

    .content {
        width: 70%;

        h1 {
            font-size: 3em;
            position: relative;

            span {
                display: block;
            }

        }
