* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.gallery {
display: flex;
width: 100px; 
height: 100px; 
margin: 8px

}
.gallery .box {
background-color: #CCC;
background-size: cover;
border-radius: 10px;

}
.gallery .box:after {
content: '';
display: block;
padding-top: calc(100% / (16/10));
}
