
.ul { 
padding: 0; 
list-style: none;
flex-direction:column; 
	
}


.li {
display: flex;
width: 100px; 
height: 100px; 
margin: 8px;
border-radius: 10px;
background-color: #CCC;
justify-content: center
}

